.weather-app {
  max-width: 700px;
  margin: 0 auto;
}

body {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

form {
  color: green;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 18px;
}

h1,
h2,
h3 {
  color: green;
  text-align: center;
}

h3 {
  font-weight: 400;
}

h4 {
  margin-bottom: 0;
}

#city-input {
  border-radius: 20px;
  border: 0;
  font-size: 15px;
}

#searchButton {
  border-radius: 20px;
  border: 0;
  font-size: 15px;
}

#currentButton {
  border-radius: 20px;
  border: 0;
  font-size: 15px;
}

div.card {
  margin: 0 auto;
  text-align: center;
  border-color: green;
  border-radius: 10px;
  font-weight: 400;
  font-size: 28px;
  color: green;
  max-width: 650px;
  margin-bottom: 20px;
}

#weather-numbers {
  font-size: 26px;
  font-weight: 400;
}

.weather-forecast-temp {
  font-size: 20px;
}

.card-body {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  border-radius: 10px;
  padding: 10px;
}

a {
  color: green;
}

a:hover {
  color: rgb(19, 170, 52);
}

div.days .row .col-2 {
  display: inline-block;
  text-align: center;
  margin: 15px 0 35px 0;
  font-weight: 400;
  font-size: 24px;
  color: green;
}

div.days .row .windrain {
  font-size: 20px;
}

.tempUnit {
  font-size: 24px;
  position: relative;
  top: -2px;
}

.tempUnit .active:hover {
  text-decoration: none;
}
